body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #fff;
}
.container1 {
	background-image: url(../img/bg-head.jpg);
	background-size: 1500px;
	-webkit-background-attachment: fixed;
	background-position: center center;
	background-position-x: -100px;
	height: 100%;
}

nav.navbar a {
	font-size: 24px;
	font-weight: bold;
}
nav.navbar li a {
	margin-top: 4px;
	font-size: 18px !important;
}
/* header */
header {
	margin-top: 100px;
	height: 520px;
	color: white;
}

header h1,
header p {
	text-shadow: 1px 1px 0 black;
	font-weight: bold;
}
header img {
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

section#portfolio .col-md-4 a img {
	margin-bottom: 80px;
}

section#textAbout,
section#textPortfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
}
section#textAbout h1,
section#textPortfolio h1 {
	margin-top: 40px;
	font-size: 48px;
	font-weight: bolder;
	color: #262626;
}

section.about {
	background-image: url(../img/bg-about.png);
	background-attachment: scroll;
	background-position: left;
	background-position-y: 50px;
	background-repeat: no-repeat;
	background-color: #999;
	height: 500px;
	background-size: 350px;
}

section.about img {
	padding-top: 50px;
	float: left !important;
	width: 300px;
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 52%, 0% 0%);
	shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 52%, 0% 0%);
}
section.about p {
	text-indent: 50px;
	padding-top: 120px;
	color: white;
}
section.about ul li {
	color: white;
}

section#textPortfolio .portfolio {
	margin-bottom: 45px;
}

section.portfolio {
	color: white;
	width: 100%;
	background-image: url(../img/bg-portfolio.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

section.portfolio .row .col-md-6 a img.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

section.portfolio .row a img {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 3s;
}
section.portfolio h4 {
	font-size: 32px;
	font-weight: bolder;
	text-shadow: 2px 1px 0 black;
	text-decoration: underline;
}

section.portfolio a.btnTrigger {
	margin-bottom: 50px;
	display: block;
}

section.portfolio .modal-body p {
	color: black;
	padding-top: 10px;
	padding-left: 5px;
	margin-bottom: 0;
	font-size: 18px;
}
hr {
	/* margin-bottom: 50px; */
	margin: auto;
	background-color: #666 !important;
	opacity: 1;
	height: 6px !important;
	width: inherit;
	border-radius: 2px;
}

.modalCompany img {
	max-block-size: 322px;
	/* max-height: 322px; */
}
.modal-body {
	padding: 0.3rem !important;
}
.modal-footer {
	padding: 0.2rem !important;
}
.modalBodyPortfolio4 img {
	width: 600px;
	height: auto;
}

/* ----------   Mobile S */
@media (min-width: 320px) {
	.container1 {
		background-size: 1400px;
		background-position-x: 40%;
		background-position-y: 60%;
	}
	section.about {
		-webkit-background-attachment: fixed;
		background-size: cover;
		background-blend-mode: multiply;
		opacity: 0.9;
		height: 580px;
	}
	section.about p {
		text-indent: 50px;
		padding-top: 5px;
		text-align: justify;
		padding-right: 5px;
		font-size: 15px;
		text-shadow: 1px 0 black;
	}
	section.about p.p1 {
		padding-top: 35px;
	}
	section.portfolio {
		background-size: cover;
		background-attachment: fixed;
		background-position-x: left;
	}
	section.portfolio h4 {
		font-size: 18px;
	}
}
/* -------------  Mobile M */
@media (min-width: 375px) {
	.container1 {
		background-size: 1300px;
		background-position-x: 23%;
	}
	section.about {
		-webkit-background-attachment: fixed;
		background-size: cover;
		background-blend-mode: multiply;
		opacity: 0.9;
		height: 580px;
	}
	section.about p {
		text-indent: 50px;
		padding-top: 5px;
		text-align: justify;
		padding-right: 5px;
		font-size: 15px;
		text-shadow: 1px 0 black;
	}
	section.about p.p1 {
		padding-top: 35px;
	}
	section.portfolio {
		background-size: cover;
		background-attachment: fixed;
		background-position-x: left;
	}
	section.portfolio h4 {
		font-size: 18px;
	}
}

/* -------------  Mobile L */
@media (min-width: 425px) {
	.container1 {
		background-size: 1300px;
		background-position-x: 19%;
	}
	section.about {
		-webkit-background-attachment: fixed;
		background-size: cover;
		background-blend-mode: multiply;
		opacity: 0.9;
		height: 580px;
	}
	section.about p {
		text-indent: 50px;
		padding-top: 5px;
		text-align: justify;
		padding-right: 5px;
		font-size: 15px;
		text-shadow: 1px 0 black;
	}
	section.about p.p1 {
		padding-top: 35px;
	}
	section.portfolio {
		background-size: cover;
		background-attachment: fixed;
		background-position-x: left;
	}
	section.portfolio h4 {
		font-size: 18px;
	}
}

/* --------------  Tablet */
@media (min-width: 768px) {
	.container1 {
		background-size: 1400px;
		background-position-x: 1%;
	}
	section.about {
		background-attachment: fixed;
		background-size: 450px;
		background-blend-mode: multiply;
		opacity: 0.9;
		height: 500px;
		display: flex;
		justify-content: center;
	}
	section.about p {
		width: 450px;
		text-indent: 50px;
		padding-top: 5px;
		text-align: justify;
		padding-right: 5px;
		font-size: 15px;
		text-shadow: 1px 0 black;
	}
	section.about p.p1 {
		padding-top: 35px;
	}
	section.about p.p2 {
		margin-left: 120px;
	}
	section.about ul li {
		margin-left: 107px;
	}
	section.portfolio {
		background-size: cover;
		background-attachment: fixed;
		background-position-x: left;
	}
	section.portfolio h4 {
		font-size: 28px;
	}
}

/* --------------  Laptop */
@media (min-width: 1024px) {
	.container1 {
		background-size: 1750px;
		background-position-x: 1%;
	}
	section.about {
		background-attachment: fixed;
		background-size: 450px;
		background-blend-mode: multiply;
		opacity: 0.9;
		height: 540px;
		display: flex;
		justify-content: center;
	}
	section.about p {
		margin-left: 300px;
		width: 450px;
		text-indent: 50px;
		padding-top: 5px;
		text-align: justify;
		padding-right: 5px;
		font-size: 17px;
		text-shadow: 1px 0 black;
	}
	section.about p.p1 {
		padding-top: 35px;
	}
	section.about p.p2 {
		margin-left: 460px;
	}
	section.about ul li {
		margin-left: 450px;
	}
	section.portfolio {
		background-size: cover;
		background-attachment: fixed;
		background-position-x: left;
	}
	section.portfolio h4 {
		font-size: 30px;
	}
}

/* --------------  Laptop L */
@media (min-width: 1440px) {
	.container1 {
		background-size: 1750px;
		background-position-x: 45%;
	}
	section.about {
		background-attachment: fixed;
		background-size: 450px;
		background-blend-mode: multiply;
		opacity: 0.9;
		height: 540px;
		display: flex;
		justify-content: center;
	}
	section.about p {
		margin-left: 300px;
		width: 800px;
		text-indent: 50px;
		padding-top: 5px;
		text-align: justify;
		padding-right: 5px;
		font-size: 17px;
		text-shadow: 1px 0 black;
	}
	section.about p.p1 {
		padding-top: 35px;
	}
	section.about p.p2 {
		text-indent: 108px;
		margin-left: 460px;
	}
	section.about ul li {
		margin-left: 500px;
	}
	section.portfolio {
		background-size: cover;
		background-attachment: fixed;
		background-position-x: left;
	}
	section.portfolio h4 {
		font-size: 34px;
	}
}

/* ---------------------  Desktop */

@media (min-width: 2560px) {
	nav.navbar a {
		padding-right: 50px;
		font-size: 50px;
	}
	nav.navbar ul li a {
		padding-right: 50px !important;
		font-size: 37px !important;
	}
	header {
		height: 1000px;
	}
	header img {
		width: 350px;
		overflow: hidden;
	}
	header h1 {
		font-size: 54px;
	}
	header p {
		font-size: 32px;
	}
	.container1 {
		background-size: 2950px;
		background-position-x: 75%;
	}
	section.about {
		background-attachment: scroll;
		background-size: 800px;
		background-blend-mode: multiply;
		opacity: 0.9;
		height: 900px;
		display: flex;
		justify-content: center;
	}
	section.about p {
		width: 900px;
		text-indent: 100px;
		padding-top: 5px;
		text-align: justify;
		padding-right: 5px;
		font-size: 34px;
		text-shadow: 1px 0 black;
	}
	section.about p.p1 {
		padding-top: 35px;
	}
	section.about p.p2 {
		text-indent: 90px;
		margin-left: 520px;
	}
	section.about ul li {
		font-size: 34px;
		margin-left: 500px;
	}
	section.portfolio {
		background-size: cover;
		background-attachment: fixed;
		background-position-x: left;
	}
	section.portfolio h4 {
		font-size: 50px;
	}
	section.portfolio .row .col-md-6 a {
		width: 1000px !important;
	}
}
