---

---

<section id="about"
    class="
        p-[65px_25px]
        mobile:p-[80px_25px] tablet:p-[80px] tablet:pb-[100px]
        desktop:px-[135px] desktop:pb-[225px] desktop:pt-[185px]
    "
>
	<h2
        class="
            text-[24px] mb-[20px]
            mobile:text-[32px]
            desktop:mb-[40px]
        "
    >About Me</h2>
	<p
        class="text-[16px] mobile:text-[20px] tablet:text-[24px] font-light"
    >
		Halo, nama saya adalah Muhammad Edo Wardaya, saya lulusan sarjana komputer jurusan
        Informatika dari STIKOM EL RAHMA. Saya lahir di kota yang dijuluki sebagai kota hujan yaitu Bogor.
        Saya sudah tertarik dengan bidang pemrograman website sejak lulus dari SMK yaitu pada tahun 2019.
        Sampai saat ini saya selalu berusaha untuk meningkatkan kemampuan saya dalam membangun sebuah website,
        terutama untuk sisi front end. Dalam upaya untuk meningkatkan kemampuan programming, saya mengikuti
        banyak sumber pembelajaran, dari youtube saya mengikuti beberapa channel seperti Web Programming UNPAS,
        Kelas Terbuka, Programmer Zaman Now, dll. Tidak hanya dari youtube, saya juga menyempatkan diri untuk
        mengikuti kursus online, seperti dari Dicoding, Progate, FreeCodeCamp, Programmer Zaman Now, Build With Angga.
        Dari beberapa pembelajaran tersebut, saya sudah membuat berbagai proyek mendiri, sebagai tolak ukur pemahaman saya.
        Mengenai teknologi yang saya gunakan, saya menggunakan situs roadmap.sh sebagai referensi, saya terus berusaha
        untuk memenuhi jalur atau anak tangga yang harus dilewati agar berhasil menjadi seorang Front End Web Developer yang
        dapat diandalkan. Dalam proses pembelajaran, saya selalu berusaha untuk tidak melewatkan
        materi dasar sebagai fundamental, meski dalam mempelajari basic selalu membosankan, 
        namun dengan konsistensi dan keinginan kuat untuk menjadi seorang Front End Developer yang dapat diandalkan,
        atas pertolongan dari Tuhan, semua itu dapat dilewati. Tentu saja pembelajaran ini tidak akan pernah usai, karena teknologi terus berkembang dari hari ke hari.
        Semakin banyak belajar semakin banyak menyadari bahwa ilmu yang kita dapatkan dan kuasai itu hanyalah serpihannya saja,
        ilmu begitu luas sedangkan kapasitas atau kemampuan setiap orang berbeda, dengan kesadaran ini,
        bersikap rendah hati adalah keharusan karena seperti kata pepatah, di atas langit masih ada langit.
        Sudah sejauh ini saya belajar, sudah banyak juga proyek mandiri yang sudah saya buat, dengan semua pengalaman
        dan pengetahuan yang saya dapat, <b>saya siap untuk menjadi seorang Front End Web Developer yang dapat diandalkan</b>.
	</p>
</section>

<style>
	#about {
        background-color: var(--background);
		/* padding: 65px 25px; */
        color:var(--main-text);
 
		h2 {
			font-family: 'Concert One', sans-serif;
			/* font-size: 24px; */
			/* margin-bottom: 20px; */
            text-align:center;
		}

		p {
			font-weight: 200;
			/* font-size: 16px; */

            @screen laptop {
                text-align:justify;
            }
		}
	}
</style>
