---

---

<section id="about"
    class="
        p-[65px_25px]
        mobile:p-[80px_25px] tablet:p-[80px] tablet:pb-[100px]
        desktop:px-[135px] desktop:pb-[225px] desktop:pt-[185px]
    "
>
	<h2
        class="
            text-[24px] mb-[20px]
            mobile:text-[32px]
            desktop:mb-[40px]
        "
    >About Me</h2>
	<p
        class="text-[16px] mobile:text-[20px] tablet:text-[24px]"
    >
		Saya seorang Front-End Web Developer yang memiliki keahlian dalam HTML, CSS,
		Tailwind CSS, SCSS, JavaScript, dan TypeScript. Menggunakan React dan
		Next.js sebagai framework utama, saya telah membangun berbagai proyek untuk
		memperkuat keterampilan teknis saya, seperti movie app, notes app, dan
		aplikasi time management. Desain minimalis dan responsif menjadi pendekatan
		saya dalam membangun aplikasi web yang cepat dan fungsional. Saya percaya
		ketekunan dan perhatian pada detail adalah kunci untuk menghasilkan kode
		yang bersih dan dapat diandalkan. Dengan keahlian tambahan dalam Git,
		GitHub, npm, Eslint, Prettier, Vite, Vitest, dan Playwright, saya siap untuk
		membawa kontribusi saya ke tim teknologi dalam posisi full-time.
	</p>
</section>

<style>
	#about {
        background-color: var(--background);
		/* padding: 65px 25px; */
        color:var(--main-text);
 
		h2 {
			font-family: 'Concert One', sans-serif;
			/* font-size: 24px; */
			/* margin-bottom: 20px; */
            text-align:center;
		}

		p {
			font-weight: 200;
			/* font-size: 16px; */
		}
	}
</style>
