---
import Form from '../molecules/Form.astro';
import Input from '../molecules/Input.astro';
import SocialMediaItem from '../molecules/SocialMediaItem.astro';
import Textarea from '../molecules/Textarea.astro';
---

<section id="contact" class="p-[65px_25px] tablet:p-[80px] desktop:p-[148px_130px]">
	<h2 class="text-[24px] mobile:text-[32px] mb-[20px]">CONTACT</h2>
	<p class="mx-auto desktop:mb-[50] w-full desktop:w-[700px] text-[16px] mobile:text-[20px] tablet:text-[24px] mb-[30px]">
		Tertarik untuk bekerjasama?<br />
		Hubungi saya lewat form di bawah ini, pesan akan dikirimkan langsung ke aplikasi
		whatsapp.
	</p>
	<Form action="/">
		<Input type="text" name="name" label="Name" slot="input" />
		<Textarea name="message" label="Message" slot="textarea" />
	</Form>
	<div class="contact__divider my-[50px] mx-auto w-full desktop:w-[525px]">
		<div class="left-line"></div>
		<div class="contact__divider-content mx-4 text-[16px] mobile:text-[20px] tablet:text-[24px] w-[200px] tablet:w-[300px] desktop:w-[350px]">
			<p>Atau</p>
			<p>Kunjungi media sosial saya</p>
		</div>
		<div class="right-line"></div>
	</div>
	<div class="social-media-list w-full desktop:w-[525px]">
		<SocialMediaItem
			href="https://www.instagram.com/m_edo_wardaya/"
			title="@m_edo_wardaya"
			iconUrl="https://skillicons.dev/icons?i=instagram"
		/>
		<SocialMediaItem
			href="https://github.com/muhammadedowardaya"
			title="github.com/muhammadedowardaya"
			iconUrl="https://skillicons.dev/icons?i=github"
		/>
		<SocialMediaItem
			href="https://www.linkedin.com/in/muhammad-edo-wardaya"
			title="linkedin.com/in/muhammad-edo-wardaya"
			iconUrl="https://skillicons.dev/icons?i=linkedin"
		/>
	</div>
</section>

<style>
	#contact {
		/* padding: 148px 130px; */
		background-color: var(--secondary);
		color: var(--background);

		& > h2 {
			text-align: center;
			font-family: 'Concert One', sans-serif;
			/* font-size: 32px;
			margin-bottom: 20px; */
		}

		& > p {
            /* font-size:24px; */
			text-align: center;
            /* width:700px; */
            /* margin:0 auto 50px auto; */
		}

		.contact__divider {
			/* margin: 50px auto; */
			/* width: 525px; */
			display: grid;
			grid-template-columns: auto max-content auto;
			place-items: center;

			.left-line,
			.right-line {
				height: 2px;
				width: 100%;
				background-color: #fff;
			}

			.contact__divider-content {
				/* width: 350px; */
				text-align: center;
				/* font-size: 24px; */
			}
		}

        .social-media-list {
            margin:0 auto;
            /* width:525px; */
        }
	}
</style>
