<footer class="text-[24px] laptop:text-[32px] flex justify-center items-center flex-col laptop:flex-row laptop:h-[170px]">
	<span>Muhammad Edo Wardaya</span>
	<span class="hidden laptop:block">&copy;</span>
	<span>2024</span>
</footer>

<style>
	footer {;
		background-color: var(--secondary);
		font-family: 'Pacifico', cursive;
		text-align: center;
		height: 170px;
		border: 1px solid #616771;
		color: #494e57;
		/* font-size: 32px; */
        display: flex;
        align-items: center;
        justify-content: center;
	}
</style>
