---
import NavItem from '../molecules/NavItem.astro';
import menuIcon from '../../icons/menu.svg';

interface Link {
	title: string;
	href: string;
}

interface Props {
	links: Link[];
}

const { links } = Astro.props;
---

<nav
	id="navbar"
	class="flex items-center justify-between fixed left-0 right-0 top-0"
>
	<div class="navbar-brand text-white font-bold">My Portfolio</div>
	<img
		src={menuIcon.src}
		alt="menu icon"
		class="navbar-menu-button w-[30px] h-[30px]
            mobile:w-[50px] mobile:h-[50px] laptop:hidden"
	/>

	<ul
		class="nav-list left-0 right-0
            flex-col absolute bg-[var(--secondary)] laptop:static"
	>
		{links.map((link) => <NavItem {...link} />)}
	</ul>
</nav>

<style>
	nav {
		background-color: var(--secondary);
		z-index: 50;
		@apply px-[25px] pt-[10px] pb-[14px] text-[16px] w-full
            mobile:pt-[16px] mobile:pb-[20px] mobile:text-[24px]
            tablet:px-[75px] 
            laptop:px-[135px] laptop:py-3;

		.nav-list {
			/* width: max-content; */
			display: flex;
			list-style: none;
			margin: 0 auto;
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: all 0.3s ease;
            row-gap: 20px;

			@screen laptop {
				margin: 0 0 0 auto;
			}

			@apply top-[54px] pt-[30px] px-[25px]
                mobile:top-[80px]
                tablet:top-[80px] tablet:px-[65px]
                laptop:h-max laptop:flex-row laptop:opacity-100 laptop:py-1 laptop:w-max laptop:px-0 laptop:gap-[40px];

			&.active {
				height: 310px;
				opacity: 1;
                border-bottom:4px solid #9298a0;

				@screen mobile {
					height: 380px;
					opacity: 1;
				}
			}
		}
	}
</style>

<script>
	const navMenuButton = document.querySelector('.navbar-menu-button');
	const navList = document.querySelector('.nav-list');

	navMenuButton?.addEventListener('click', () => {
		navList?.classList.toggle('active');
	});

	navList?.querySelectorAll('.nav-item a').forEach((item) => {
		item.addEventListener('click', () => {
			if (navList?.classList.contains('active')) {
				navList?.classList.remove('active');
			}
		});
	});
</script>
