---
import ProjectList, { type Project } from '../molecules/ProjectList.astro';

interface Props {
	projects: Project[];
}

const { projects } = Astro.props;
---

<section id="projects" class="p-[65px_25px] pb-[50px] tablet:p-[80px] desktop:p-[148px_130px]">
	<h2 class="text-[24px] mobile:text-[32px]">PROJECTS</h2>
	<p class="text-[16px] mx-auto mb-[80px] desktop:mb-[148px] mobile:text-[20px] tablet:text-[24px] desktop:w-[700px]">Berikut adalah beberapa proyek yang telah saya kerjakan</p>
	<ProjectList projects={projects} />
</section>

<style>
	#projects {
		/* padding: 148px 130px; */
		background-color: var(--background);

		& > h2 {
			text-align: center;
            font-family: 'Concert One', sans-serif;
            /* font-size:32px; */
            margin-bottom:20px;
		}

        & > p {
            /* font-size:24px; */
			text-align: center;
            /* width:700px; */
            /* margin:0 auto 148px auto; */
        }
	}
</style>
