---
import newWindowIcon from '../../icons/window-new.svg';
interface Props {
	title: string;
	description: string;
	href: string;
}

const { title, description, href } = Astro.props;
---

<div class="project-item w-full p-[55px_20px] tablet:p-[60px] desktop:p-[50px] desktop:w-[380px]">
	<h3 class="project-item__title text-[24px] mobile:text-[28px] tablet:text-[32px] mb-[30px] mobile:mb-[50px]">{title}</h3>
	<p class="project-item__description text-[16px] mobile:text-[20px] tablet:text-[24px]">{description}</p>
	<a href={href} target="_blank" class="project-item__button w-full h-[40px] tablet:h-[50px] mobile:w-[280px] text-[16px] mobile:text-[20px] tablet:text-[24px]"
		>Show Project
		<img src={newWindowIcon.src} alt="new window icon" class="w-[30px] h-[30px] desktop:w-[50px] desktop:h-[50px]" />
	</a>
</div>

<style>
	.project-item {
        break-inside: avoid;
		/* width: 380px; */
		/* padding: 50px; */
        margin:0 auto 50px auto;
		/* background-color: var(--normal-text); */
        background-color: #fff;

		.project-item__title {
			font-family: 'BebasKai', sans-serif;
			/* font-size: 32px; */
			/* margin-bottom: 50px; */
			text-align: center;
		}

		.project-item__description {
			/* font-size: 20px; */
			margin-bottom: 50px;
			text-align: center;
		}

		.project-item__button {
            margin:0 auto;
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			/* height: 50px;
			width: 280px; */
			background-color: var(--main-text);
			color: #fff;
			/* font-size: 20px; */
			font-weight: bold;

			img {
				/* width: 50px;
				height: 50px; */
				margin-left: 10px;
			}
		}
	}
</style>
