---
import ProjectItem from './ProjectItem.astro';

export interface Project {
	title: string;
	description: string;
	href: string;
}

interface Props {
	projects: Project[];
}

const { projects } = Astro.props;
---

<div class="project-list desktop:columns-2">
	{
		projects.length > 0 ? (
			projects.map((project) => (
				<ProjectItem
					title={project.title}
					description={project.description}
					href={project.href}
				/>
			))
		) : (
			<p>No projects found</p>
		)
	}
</div>

<style>
	.project-list {
		/* columns:2; */
	}
</style>
