---
interface Props {
	href: string;
	title: string;
	iconUrl: string;
}

const { href, title, iconUrl } = Astro.props;
---

<a href={href} class="social-media-item gap-x-[20px] w-full p-[5px] mobile:p-[15px] mb-[20px] mobile:mb-[25px]">
	<img src={iconUrl} alt="social media icon" class="desktop:mr-[24px] w-[30px] h-[30px] mobile:w-[50px] mobile:h-[50px]" />
	<span class="text-[12px] mobile:text-[16px] tablet:text-[20px]">{title}</span>
</a>

<style>
	.social-media-item {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: var(--normal-text);
		background-color: var(--social-media-item);
	}
</style>
