---
export interface Props {
	name: string;
	label: string;
	[key: string]: any;
}

const { name, label, ...textareaProps } = Astro.props;
---

<div class="field mb-[30px] lg:mb-[40px]">
	<label for={name} class="label text-[16px] mobile:text-[20px] tablet:text-[24px]">{label}</label>
	<textarea class="textarea text-[16px] mobile:text-[20px] tablet:text-[24px]" {...textareaProps} />
</div>

<style>
	.field {
		/* margin-bottom: 40px; */
		.label {
			/* font-size: 24px; */
			margin-bottom: 10px;
			display: block;
			width: 100%;
		}

		.textarea {
			display: block;
			height: 200px;
			width: 100%;
            padding:10px;
            /* font-size:24px; */
            /* background-color:var(--normal-text); */
            background-color: #fff;
            border:none;

            &:focus-within {
                border:none;
                outline:none;
            }
		}
	}
</style>
